---
import HeaderLink from './HeaderLink.astro';

---

<script > 

/* Añadir evento listener en múltiples elementos */
const addEventOnElements = (elements: string | any[] | NodeListOf<Element>, eventType: string, callback: () => void) => {
  // Recorre todos los elementos proporcionados en el parallaxItems 'elements'
  for (let i = 0, len = elements.length; i < len; i++) {
    // Agrega un event listener del tipo 'eventType' a cada elemento con la función 'callback'
    elements[i].addEventListener(eventType, callback);
  }
};

/* Navbar */
const navbar = document.querySelector("[data-navbar]");
const navTogglers = document.querySelectorAll("[data-nav-toggler]");
const overlay = document.querySelector("[data-overlay]");

document.addEventListener('astro:page-load', function() {
    var navbarLinks = document.querySelectorAll('.navbar-link');

    navbarLinks.forEach(function(link) {
      link.addEventListener('click', function() {

        // Cierra el sidebar al hacer clic en un enlace
        navbar?.classList.remove('active');
        overlay?.classList.remove('active');
        document.body.classList.remove('nav-active');
      });
    });


  });
  const toggleNavbar = () => {
    // Alternar clases para mostrar/ocultar la barra de navegación
    navbar?.classList.toggle("active");
    overlay?.classList.toggle("active");
    document.body.classList.toggle("nav-active");
  };
  
  addEventOnElements(navTogglers, "click", toggleNavbar);

  

// /* Header & back-top-btn */
// const header = document.querySelector("[data-header]");
// const backTopBtn = document.querySelector("[data-back-top-btn]");
// let lastScrollPos = 0;

// const hideHeader = () => {
//   // Ocultar o mostrar el encabezado al hacer scroll hacia abajo o arriba
//   const isScrollBottom = lastScrollPos < window.scrollY;
//   if (isScrollBottom) {
//     header?.classList.add("hide");
//   } else {
//     header?.classList.remove("hide");
//   }
//   lastScrollPos = window.scrollY;
// };

// window.addEventListener("scroll", () => {
//   // Mostrar el encabezado como activo después de hacer scroll
//   if (window.scrollY >= 50) {
//     header?.classList.add("active");
//     backTopBtn?.classList.add("active");
//     hideHeader();
//   } else {
//     header?.classList.remove("active");
//     backTopBtn?.classList.remove("active");
//   }
// });
</script>

<!-- <div class="">
	<HeaderLink class="navbar-link hover-underline" href="/">Home</HeaderLink>
	<HeaderLink href="/blog">Blog</HeaderLink>
	<HeaderLink href="/about">About</HeaderLink>
</div> -->
<header class="header" data-header>
	<div class="container">
	  <a href="/" class="logo">
		<!-- <img
		  src="./src/images/logo.svg"
		  alt="Restaurante - Home"
		  width="160"
		  height="50"
		/> -->
    Line Tattoo
	  </a>
	  <nav class="navbar" data-navbar>
		<button class="close-btn" aria-label="close menu" data-nav-toggler>
			<svg xmlns="http://www.w3.org/2000/svg" width="328" height="328" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="#999999" d="m12 14.122l5.303 5.303a1.5 1.5 0 0 0 2.122-2.122L14.12 12l5.304-5.303a1.5 1.5 0 1 0-2.122-2.121L12 9.879L6.697 4.576a1.5 1.5 0 1 0-2.122 2.12L9.88 12l-5.304 5.304a1.5 1.5 0 1 0 2.122 2.12z"/></g></svg>
		</button>
		<a href="/" class="logo">
		  <!-- <img
			src="./src/images/logo-3.svg"
			alt="Restaurante - Home"
			width="160"
			height="50"
		  /> -->
      Line Tattoo
		</a>
		<ul class="navbar-list">
		  <li class="navbar-item">
			<HeaderLink class="navbar-link hover-underline" href="/">Unser Studio</HeaderLink>
		  </li>
		  <li class="navbar-item">
			<HeaderLink class="navbar-link hover-underline" href="/piercings-pflege">Piercings & Pflege</HeaderLink>
		  </li>
		  <li class="navbar-item">
        <HeaderLink class="navbar-link hover-underline" href="/tattoos-Pflege">Tattoos & Pflege</HeaderLink>
		  </li>
      <li class="navbar-item">
          <HeaderLink class="navbar-link hover-underline btn-nav" href="/kontakt">Kontakt</HeaderLink>
      </li>
		</ul>
		<div class="text-center">
		  <p class="headline-1 navbar-title">Besuchen Sie uns!</p>
		  <address class="body-4">
        Klingeberger Str. 62, <br />
        74080 Heilbronn
		  </address>
		  <p class="body-4 navbar-text">Öffnungszeiten: Mo. bis Sa. 11:00/18:00 Uhr</p>
		  <p class="contact-label">Kontakt für Reservierungen:</p>
		  <!-- <div class="separator"></div> -->
		  <a
			href="mailto:info@linetattooheilbronn.de"
			class="body-4 email-header"
		  >
      +49 (0) 1575 3616993
		  </a>
		  <a href="tel:+49(0)15753616993" class="body-1 contact-number hover-underline"
			>info@linetattooheilbronn.de</a
		  >
		</div>
	  </nav>
	  <a href="/kontakt" class="btn btn-secondary">
		<span class="text text-1">Kontakt</span>

		<span class="text text-2" aria-hidden="true">Kontakt</span>
	  </a>
	  <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
		<span class="line line-1"></span>
		<span class="line line-2"></span>
		<span class="line line-3"></span>
	  </button>
	  <div class="overlay" data-nav-toggler data-overlay></div>
	</div>
  </header>
<style>
.header .btn {
  display: none;
}
.header .navbar-item .btn-nav{
  display: block;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--eerie-black-4);
  border-color: var(--black-alpha-15);
  padding-block: 20px;
  z-index: 4;
  border-block-end: 1px solid transparent;
  transition: var(--transition-1);
}

.header.active {
  background-color: var(--eerie-black-4);
  border-color: var(--black-alpha-15);
}

.header.hide {
  /* transform: translateY(-100%); */
  transition-delay: 250ms;
}

.header .container {
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.nav-open-btn {
  padding: 12px;
  padding-inline-end: 0;
}

.nav-open-btn .line {
  width: 30px;
  height: 2px;
  background-color: var(--white);
  margin-block: 4px;
  transform-origin: left;
  animation: menuBtn 400ms ease-in-out alternate infinite;
}

@keyframes menuBtn {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0.5);
  }
}

.nav-open-btn .line-2 {
  animation-delay: 150ms;
}

.nav-open-btn .line-3 {
  animation-delay: 300ms;
}

.navbar {
  position: fixed;
  background-color: var(--smoky-black-1);
  top: 0;
  left: -360px;
  bottom: 0;
  max-width: 360px;
  width: 100%;
  padding-inline: 30px;
  padding-block-end: 50px;
  overflow-y: auto;
  visibility: hidden;
  z-index: 2;
  transition: var(--transition-2);
}

.navbar.active {
  visibility: visible;
  transform: translateX(360px);
}

.navbar .close-btn {
  color: var(--white);
  padding: 4px;
  border-radius: var(--radius-circle);
  margin-inline-start: auto;
  margin-block: 30px 20px;
}

.navbar .close-btn svg {
  width: 25px;
  height: 25px;
}

.navbar .close-btn:is(:hover, :focus-visible) {
  color: var(--gold-crayola);
}

.navbar .logo {
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 60px;
}
.logo {
  
  color: var(--platinum);
  font-family: "Canis";
  font-size: 3rem;
}

.navbar-list {
  border-block-end: 1px solid var(--white-alpha-20);
  margin-block-end: 100px;
}

.navbar-item {
  border-block-start: 1px solid var(--white-alpha-20);
}

.navbar-link {
  position: relative;
  font-size: var(--fontSize-label-2);
  text-transform: uppercase;
  padding-block: 10px;
  font-weight: 800;
  max-width: unset;
  color: var(--white);
}

.navbar-link::after {
  display: none;
}
.navbar-list::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque al fondo */
  z-index: -1; /* Coloca el fondo borroso detrás de los elementos internos */
}
.navbar-link .span {
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus-visible, .active) .span {
  color: var(--gold-crayola);
  transform: translateX(20px);
}

.navbar-link .separator {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(45deg);
  opacity: 0;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus-visible, .active) .separator {
  opacity: 1;
}

.navbar-title {
  margin-block-end: 15px;
}

.navbar-text {
  margin-block: 10px;
}

.navbar .body-4 {
  color: var(--quick-silver);
}

.sidebar-link {
  transition: var(--transition-1);
}

.sidebar-link:is(:hover, :focus-visible) {
  color: var(--gold-crayola);
}

.navbar .text-center .separator {
  margin-block: 30px;
  margin-inline: auto;
}

.navbar .contact-label {
  margin-block-end: 10px;
}

.navbar::-webkit-scrollbar-thumb {
  background-color: var(--white-alpha-10);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--black-alpha-80);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-2);
  z-index: 1;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

@media (min-width: 575px) {
	.header {
    top: 0;
  }

  .header.active {
    top: 0;
  }

  .header .btn {
    display: block;
    margin-inline-start: auto;
  }
}
@media (min-width: 992px) {
  .header .navbar-item .btn-nav{
  display: none;
}
}
@media (min-width: 1200px) {
	.nav-open-btn,
  .navbar > *:not(.navbar-list),
  .header .overlay {
    display: none;
  }
.header {
  padding-block: 0;
}
  .header .container {
    max-width: unset;
  }

  .navbar,
  .navbar.active,
  .navbar-list {
    all: unset;
  }

  .navbar,
  .navbar.active {
    margin-inline: auto 20px;
  }

  .navbar-list {
    display: flex;
    gap: 30px;
  }

  .navbar-item {
    border-block-start: none;
  }

  .navbar .separator {
    display: none;
  }

  .navbar-link:is(:hover, :focus-visible, .active) .span {
    transform: unset;
  }

  .navbar-link {
    font-weight: var(--weight-bold);
    letter-spacing: var(--letterSpacing-1);
  }

  .navbar-link::after {
    display: block;
  }

  .navbar-link.active::after {
    transform: scaleX(1);
    opacity: 1;
  }

  .header .btn {
    margin-inline-start: 0;
  }
}

@media (min-width: 1400px) {
  /**
	 * HEADER
	 */

  .navbar {
    margin-inline: auto;
  }
}
</style>
