<script>

    const revealElements = document.querySelectorAll("[data-reveal]");
    
    const scrollReaveal = function () {
      for (let i = 0, len = revealElements.length; i < len; i++) {
        const isElementsOnScreen = revealElements[i].getBoundingClientRect().top < window.innerHeight;
    
        if (isElementsOnScreen) {
          revealElements[i].classList.add("revealed")
        } else {
          revealElements[i].classList.remove("revealed");
        }
      }
    }

    window.addEventListener("scroll", scrollReaveal);
    window.addEventListener("load", scrollReaveal,);

    </script>

<section class="section-1">
    <figure class="img-box" data-reveal="left">
      <img src="/Piercing/piercing-1.webp" alt="" class="img">
    </figure>

    <div class="content-box">
      <h2 class="title headline-1 " data-reveal="left">Regel Nr. 1: Finger weg vom Piercing!</h2>

      <p class="text" data-reveal="left">

        Ständiges herumspielen am neuen Körperschmuck irritiert die durch das Piercen entstandene Verletzung. Die Heilung kann sich dadurch verzögern. Zudem können durch das Berühren des Piercings Keime und Bakterien in den Stichkanal und somit in die Wunde gelangen. Die Folge: Infektionen und Entzündungen.
        <br><strong>Deshalb: Finger weg vom frischen Piercing!</strong>
    </p>
        
    <h2 class="title headline-1 ">  Regel Nr. 2: Hände waschen!</h2>
        
    <p class="text" data-reveal="left">  Wenn das Piercing doch mal angefasst werden muss, zum Beispiel für die Reinigung und Pflege, unbedingt vorher die Hände gründlich waschen. Wenn möglich sogar desinfizieren.
        
        Je weniger Bakterien und Keime über die Hände an die Wunde kommen können, desto besser.</p>
        <details>
          <summary></summary>
          <div class="article">
            <h2 class="title headline-1 "> Regel Nr. 3: Kruste niemals abkratzen</h2>
        
        <p class="text" data-reveal="left">  Dass die sich evtl. bildende Kruste während der Piercing-Pflege entfernt werden muss, ist klar. Doch solle dies niemals durch Abkratzen geschehen. Besser: die Kruste mit warmen (nicht heißem!) Wasser aufweichen und dann vorsichtig entfernen.</p>
        <p class="text-end" data-reveal="left"> Dabei gilt: immer von Innen nach Außen. Also immer vom Stichkanal weg. Nur so ist sichergestellt, dass keine Krustenteile in den Stichkanal gelangen.</p>
    </div>
  </div>
</details>

    <div class="content-box">
      <h2 class="title headline-1 " data-reveal="right">Piercingpflege – das How to</h2>

      <p class="text" data-reveal="right">Die Pflege eines frischen Piercings erfolgt an sich in den immer gleichen Schritten.</p>
      <ul>
        <li>
          <span class="span">Schritt 1 – Hände waschen und desinfizieren</span> 
    </li>
        <li>

          <span class="span">Schritt 2 – eine eventuell vorhandene Kruste aufweichen</span> 
    </li>
        <li>
          <span class="span">Schritt 3 – Kruste vorsichtig entfernen</span> 
    </li>
        <li>
          <span class="span">Schritt 4 – Piercing mit Pflegemittel benetzen</span> 
    </li>
    </ul>
    <p class="text" data-reveal="right">

      Es hält sich hartnäckig der Glaube, dass das Piercing in der frischen Wunde gedreht bzw. bewegt werden muss, damit sich das Pflegemittel auch im Stichkanal verteilt. Bei dieser Aussage scheiden sich die Geister. An sich verteilt sich das Pflegemittel – sofern flüssig – auch ohne Bewegen des Piercings in den Stichkanal. Zudem kann ein ständiges Bewegen des Piercingschmucks den Heilungsprozess verzögern, da sich die Wunde, was ein frisch gestochenes Piercing nun mal ist, nicht in Ruhe schließen kann.
  </p>
    </div>
    <figure class="img-box" data-reveal="right">
      <img src="/Piercing/piercing-4.webp" alt="" class="img">
    </figure>

    <figure class="img-box" data-reveal="left">
      <img src="/Piercing/piercing-2.webp" alt="" class="img">
    </figure>

    <div class="content-box">
      <h2 class="title headline-1 " data-reveal="left">Welches Mittel für die Piercingpflege</h2>

      <p class="text" data-reveal="left">

        Hier heißt es vor allem: keine Experimente oder Hausmittelchen. Im Normalfall empfiehlt der Piercer die richtigen Pflegeprodukte. Diese sollten auch verwendet werden.

Abgesehen davon haben sich die Piercing-Pflegeprodukte von Prontolind bewährt.
    </p>
        
    <h2 class="title headline-1 ">Besonderheiten bei der Piercingpflege</h2>
        
    <p class="text" data-reveal="left">  WJe nach Piercingart ergeben sich einige Pflege-Besonderheiten. So zum Beispiel beim Zungenpiercing.</p>
    <p class="text" data-reveal="left">Normale Piercingpflegemittel können hier natürlich nicht eingesetzt werden. Dafür spezielle Mundspüllösungen. Welche am besten geeignet sind, weiß der Piercer und wird welche empfehlen. Ansonsten kann auch die Apotheke weiterhelfen.<p>

      <p class="text-end" data-reveal="left"> Ungeeignet für die Nachsorge von frischen Zungenpiercings sind herkömmliche Mundspülungen, wie sie täglich nach dem Zähneputzen benutzt werden.</p>
        <details>
          <summary></summary>
          <div class="article">
            <h2 class="title headline-1 " data-reveal="left">Piercingpflege – was noch zu beachten ist</h2>

            <h4 class="text" data-reveal="left">
              Ab wann sollte mit der Pflege des neuen Piercings begonnen werden?
            </h4>
            <p class="text" data-reveal="left">
              Ab Tag 2. Am Tag des Stechens sollte das Piercing einfach in Ruhe gelassen werden.
          </p>
          <h2 class="title headline-1 ">Wie oft muss das frische Piercing gepflegt werden?</h2>

          <p class="text" data-reveal="left">  2 x täglich. Zu häufiges reinigen/pflegen kann die Wunde reizen. Zu selten gepflegt erhöht sich das Risiko von Infektionen und Entzündungen.</p>
          <h2 class="title headline-1" data-reveal="left">Wie lange muss das Piercing gepflegt werden?</h2>
            <p class="text" data-reveal="left">An sich sollte ein Piercing immer gepflegt werden, egal wie lange man es schon hat.</p>
            <p class="text" data-reveal="left">Intensiver Pflege bedarf ein frisch gestochenes Piercing für 2 – 3 Wochen.</p>
          </div>
        </details>
          </div>

      
          <div class="content-box">
            <h2 class="title headline-1 " data-reveal="right">Pflege Dermal Anchor</h2>
      
            <p class="text" data-reveal="right">
      
              Die ersten 24 Stunden braucht der Dermal Anchor etwas Ruhe. Entferne die Abdeckung nicht und unterlasse das reinigen und desinfizieren für diesen Zeitraum.
          </p>
            <p class="text" data-reveal="right">
      
              Vor jedem Kontakt mit dem Dermal Anchor, müssen die Hände mit pH-hautneutraler Seife  ( pH- Wert von 7, NICHT niedriger oder höher!) gewaschen werden.
          </p>
            <p class="text" data-reveal="right">
      
              Der Schmuck darf möglichst gar nicht bewegt werden, da er vor der Abheilung sehr schnell verrutschen oder herausgerissen werden könnte.
          </p>
            <p class="text" data-reveal="right">
      
              Reinige deinen Dermal Anchor vorsichtig mit pH-hautneutraler seife und klarem, lauwarmen Wasser.
            <p class="text-end" data-reveal="right">
      
              Entferne die Kruste, die sich aus Lymphflüssigkeit und Blut gebildet hat vorsichtig mit einem Wattestäbchen und tupfe die Stelle behutsam mit einem sauberen Einmaltuch trocken.
          </p>
              <details>
                <summary></summary>
                <div class="article">
                  <p class="text" data-reveal="right">Desinfiziere Deinen Dermal Anchor jetzt mit „Octenisept“ oder vorzugsweise mit „Prontolind Spray“.</p>
                  <p class="text" data-reveal="right">Decke die Stelle anschließend mit einer Kompresse ab.<p>
                  <p class="text" data-reveal="right">In der ersten Woche muss der Dermal Anchor ständig abgedeckt bleiben und die Abdeckung, darf nur zur Pflege entfernt und anschließend durch eine neue ersetzt werden.<p>
                  <p class="text" data-reveal="right">In der zweiten und dritten Woche muss der Dermal Anchor nur noch abgeklebt werden, wenn er mit Schmutz oder Schweiß in Berührung kommen könnte, wenn Kleidung darüber getragen wird oder wenn andere Textilien daran reiben könnten (z.B. Bettwäsche beim Schlafen)<p>
                  <p class="text" data-reveal="right">ollte es zu Komplikationen oder Unklarheiten kommen, stehen wir Dir gerne zur Verfügung<p>
                </div>
              </details>
                </div>
                <figure class="img-box" data-reveal="right">
                  <img src="/Piercing/piercing-3.webp" alt="" class="img">
                </figure>
  </section>
  <style>
    .section-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

    .title {
      font-size: 1.5em;
      max-width: max-content;
      margin-block: 0.7em;
      text-align: center;
      padding-inline: 0.5em
    }

    .text{
    opacity: 0.6;
    line-height: 1.9;
    text-align: justify;
    overflow-wrap: break-word;
    word-break: break-word;
    padding-inline: 1rem;
    margin-block: 10px 10px;
}
    .text-end{
    line-height: 1.9;
    text-align: justify;
    overflow-wrap: break-word;
    word-break: break-word;
    padding-inline: 1rem;
    margin-block: 0px 0px;
}

.text strong {
    color: #FAFAFA;
}
.img-box {
  height: 80vh;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-box { padding-inline: 1.3rem; }
.content-box ul {
    padding-inline-start: 1.3rem; /* Ajusta el padding de la lista */
}

.content-box li span::before {
  content: " ";
  width: 8px;
  height: 8px;
  border: 1px solid var(--gold-crayola);
  transform: rotate(45deg);
  display: inline-block;
  margin-right: 1rem;
 
}


[data-reveal="left"] { clip-path: inset(0 100% 0 0); }

[data-reveal="left"].revealed {
  animation: reveal-left 1.2s cubic-bezier(0.17, 0.97, 0.38, 1) forwards 300ms;
}

@keyframes reveal-left {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% { clip-path: inset(0 0 0 0); }
}

[data-reveal="right"] { clip-path: inset(0 0 0 100%); }

[data-reveal="right"].revealed {
  animation: reveal-right 1.2s cubic-bezier(0.17, 0.97, 0.38, 1) forwards 300ms;
}

@keyframes reveal-right {
  0% { clip-path: inset(0 0 0 100%); }

  100% { clip-path: inset(0 0 0 0); }
}

.img-box .img {
  transform: scale(1.5);
  transition: 1.2s cubic-bezier(0.17, 0.97, 0.38, 1);
}

.img-box.revealed .img { transform: scale(1); }
  .section-text {
  margin-block: 15px 10px;
  letter-spacing: var(--letterSpacing-1);
}



summary {
  cursor: pointer;
}
summary:focus {
  outline: none;
}
summary:focus-visible {
  outline: 3px dotted #ff0060;
}
summary {
  padding: 10px;
}

details .article {
  opacity: 0;
}
details[open] .article {
  animation: fadeIn 0.75s linear forwards;
}

details summary {
  color: var(--gold-crayola);
}
summary::marker {
  color: var(--indian-yellow);
  font-size: 1.2em;
}

details summary::after {
  content: "Mehr lesen...";
}

details[open] summary::after {
  content: "Lese weniger...";
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Estilos aplicados solo a pantallas móviles */
@media (max-width: 568px) {
    .section-1 {
        display: flex;
        flex-direction: column;
    }

    .title {
      font-size: 1.3em;

    }
    .img-box {
  height: 50vh;
  overflow: hidden;
  margin-block: 1.3rem;
}
}


    </style>