<script>

    const revealElements = document.querySelectorAll("[data-reveal]");
    
    const scrollReaveal = function () {
      for (let i = 0, len = revealElements.length; i < len; i++) {
        const isElementsOnScreen = revealElements[i].getBoundingClientRect().top < window.innerHeight;
    
        if (isElementsOnScreen) {
          revealElements[i].classList.add("revealed")
        } else {
          revealElements[i].classList.remove("revealed");
        }
      }
    }

    window.addEventListener("scroll", scrollReaveal);
    window.addEventListener("load", scrollReaveal,);

    </script>

<section class="section-1">
    <figure class="img-box" data-reveal="left">
      <img src="/Tattoo/tattoo-4.webp" alt="" class="img">
    </figure>

    <div class="content-box">
      <h2 class="title headline-1 " data-reveal="left">Tattoos sind ein Ausdruck der Persönlichkeit</h2>

      <p class="text" data-reveal="left">

        Tattoos sind kraftvolle Mittel zur Hervorhebung Ihrer einzigartigen Persönlichkeit. Ob Sie Ihre Leidenschaft für Ihren Lieblingsfußballclub ausdrücken oder ein geliebtes Hobby dauerhaft auf Ihrer Haut verewigen möchten, Tattoos sind mehr als nur Körperkunst. 
    </p>

    <p class="text" data-reveal="left">  Sie sind Ausdruck Ihrer Individualität und erzählen oft eine persönliche Geschichte. Denken Sie jedoch sorgfältig über Ihr gewünschtes Motiv nach, denn ein Tattoo ist eine dauerhafte Entscheidung. Der Prozess der Tattoo-Entfernung kann aufwendig und schmerzhaft sein. Betrachten Sie Ihr Tattoo als eine langfristige Investition in Ihre persönliche Erzählung.</p>

  </div>

    <div class="content-box">
      <h2 class="title headline-1 " data-reveal="right">Ein Tattoo als Erinnerungsstück</h2>

      <p class="text" data-reveal="right">attoos bieten eine wunderbare Möglichkeit, wertvolle Erinnerungen und bedeutungsvolle Beziehungen dauerhaft zu ehren. Es ist nicht ungewöhnlich, dass Eltern die Namen oder Geburtsdaten ihrer Kinder tätowieren lassen, um ihre Liebe und Verbindung zu verewigen. Ebenso werden oft die Namen von geliebten Verstorbenen als ewige Erinnerung auf die Haut gebracht.</p>

    <p class="text" data-reveal="right">

        Während Paar-Tattoos eine romantische Geste sein können, ist es wichtig, dabei vorsichtig zu sein. Leider halten nicht alle Beziehungen ein Leben lang – im Gegensatz zu einem Tattoo. Daher empfehlen wir, bei der Wahl eines solchen Tattoos sorgfältig zu überlegen, um zu vermeiden, dass man den Namen eines Ex-Partners dauerhaft auf der Haut trägt. Es ist wichtig, sich daran zu erinnern, dass ein Tattoo eine langfristige Entscheidung ist, die mit Bedacht getroffen werden sollte.
  </p>
    </div>
    <figure class="img-box" data-reveal="right">
      <img src="/Tattoo/tattoo-29.webp" alt="" class="img">
    </figure>

    <figure class="img-box" data-reveal="left">
      <img src="/Tattoo/tattoo-35.webp" alt="" class="img">
    </figure>

          <div class="content-box">
            <h2 class="title headline-1 " data-reveal="right">Tattoo Pflegeanleitung</h2>
      
            <p class="text" data-reveal="right">
      
                Damit dein Tattoo gut abheilen kann, halte dich bitte genau an die Pflegeanleitung!
          </p>
            <p class="text" data-reveal="right">
      
                Dein Tattoo wird von uns mit einer Salbe und einem provisorischen Verband (Folie) versorgt, damit keine Bakterien und Keime in die frische Wunde gelangen können. – Die Folie zu Hause vorsichtig abziehen, eventuell vorher am Rand mit einer Schere schneiden.
          </p>
            <p class="text" data-reveal="right">
      
                – Wasch die von uns aufgetragene Salbe mit lauwarmen Wasser und einer medizinischen Waschlotion oder einem Duschgel (PH neutral) vorsichtig aber gründlich ab.
          </p>
            <p class="text-end" data-reveal="right">
      
              – Danach das Tattoo mit einem fusselfreien (am besten Zewa) Tuch vorsichtig abtrocknen. – Nun trägst du eine Wund und Heilsalbe (Panthenol Creme z.B. von Lichtenstein) auf das Tattoo auf. Nicht einmassieren! Trag nur so viel Creme auf dein Tattoo auf, sodass es dünn bedeckt ist.
          </p>
              <details>
                <summary></summary>
                <div class="article">
                  <p class="text" data-reveal="right">– Sollte aus deinem Tattoo Wundwasser oder Blut austreten, wisch es mit einem Zewa ab. Die ersten Tage: Wenn du zu Hause bist, kannst du die Folie weglassen. An der Luft heilt das Tattoo am besten. Achte aber darauf, dass immer eine Cremeschicht auf dem Tattoo ist. Es darf keine Kruste entstehen. Entsteht eine Kruste, hast du nicht genug gepflegt, also mehr cremen.</p>
                  <p class="text" data-reveal="right">Du solltest das Tattoo mindestens 3x am Tag pflegen: – waschen – trocknen – eincremen Nach 3-5 Tagen (regelmäßige Pflege vorausgesetzt) beginnt die Oberfläche des Tattoos an zu „pellen“ (wie ein Sonnenbrand). Das ist völlig normal, da sich die abgestorbene Hautpartie ablöst. Die abgestorbene Haut NICHT abziehen, abkratzen usw. Diese einfach wie oben beschrieben weiterpflegen.<p>
                  <p class="text" data-reveal="right">Wenn sich die Haut „gepellt“ hat, sieht das Tattoo leicht Silber aus (dies nennt man Silberhaut). Ein dadurch entstehender Juckreiz ist völlig normal.<p>
                    <h3 class="title headline-1 " data-reveal="right">NICHT KRATZEN!</h3>
                  <p class="text" data-reveal="right">Einfach wieder eincremen. Nachts: Sollte aus deinem Tattoo viel Wundflüssigkeit austreten, solltest du zum Schlafen eine Folie tragen. Wenn nicht, kannst du sie weglassen. Bei der Arbeit: Wenn du dich auf deiner Arbeit körperlich sehr anstrengst oder dein Tattoo mit Schmutz in Berührung geraten könnte, trage eine Folie.<p>
                  <p class="text" data-reveal="right">Die Folie höchstens vier Stunden darauf lassen, dann wieder wechseln (Folie ab, waschen, cremen, Folie darauf) Erste Woche: Nach dem Tätowieren, wie oben beschrieben pflegen. zweite Woche: Nach dem Tätowieren, mindestens 3x am Tag eincremen. Bis 6 Wochen: Nach dem Tätowieren, morgens und abends eincremen.<p>
                  <p class="text" data-reveal="right">WICHTIG: Verzichte sechs Wochen nach dem Tätowieren auf Solarium, Chlorwasser und Sauna. Außerdem solltest du das Tattoo vor der Sonne schützen, nicht baden und das duschen so kurz wie möglich halten. (Ein Leben lang mit hohem Lichtschutzfaktor eincremen (50-60), da das Tattoo sonst leichter ausbleicht)<p>
                  <p class="text" data-reveal="right">*Da wir keinen Einfluss auf die Tattoo Nachbehandlung/Pflege haben, erfolgt diese auf eigene Gefahr. Unser Studio ist auf dem neusten Stand der hygienischen Geräte und wir arbeiten mit Einwegmaterialien (Nadeln, Farbkappen, Handschuhe)<p>
                  <p class="text" data-reveal="right">Jetzt wünschen wir dir viel Spaß mit deinem neuen Tattoo:-)<p>
                </div>
              </details>
                </div>
  </section>
  <style>
    .section-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

    .title {
      font-size: 1.5em;
      max-width: max-content;
      margin-block: 0.7em;
      text-align: center;
      padding-inline: 0.5em
    }

    .text{
    opacity: 0.6;
    line-height: 1.9;
    text-align: justify;
    overflow-wrap: break-word;
    word-break: break-word;
    padding-inline: 1rem;
    margin-block: 10px 10px;
}
    .text-end{
    line-height: 1.9;
    text-align: justify;
    overflow-wrap: break-word;
    word-break: break-word;
    padding-inline: 1rem;
    margin-block: 0px 0px;
}

.text strong {
    color: #FAFAFA;
}
.img-box {
  height: 80vh;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-box { padding-inline: 1.3rem; }
.content-box ul {
    padding-inline-start: 1.3rem; /* Ajusta el padding de la lista */
}

.content-box li span::before {
  content: " ";
  width: 8px;
  height: 8px;
  border: 1px solid var(--gold-crayola);
  transform: rotate(45deg);
  display: inline-block;
  margin-right: 1rem;
 
}


[data-reveal="left"] { clip-path: inset(0 100% 0 0); }

[data-reveal="left"].revealed {
  animation: reveal-left 1.2s cubic-bezier(0.17, 0.97, 0.38, 1) forwards 300ms;
}

@keyframes reveal-left {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% { clip-path: inset(0 0 0 0); }
}

[data-reveal="right"] { clip-path: inset(0 0 0 100%); }

[data-reveal="right"].revealed {
  animation: reveal-right 1.2s cubic-bezier(0.17, 0.97, 0.38, 1) forwards 300ms;
}

@keyframes reveal-right {
  0% { clip-path: inset(0 0 0 100%); }

  100% { clip-path: inset(0 0 0 0); }
}

.img-box .img {
  transform: scale(1.5);
  transition: 1.2s cubic-bezier(0.17, 0.97, 0.38, 1);
}

.img-box.reveflex; .img { transform: scale(1); }
  .section-text {
  margin-block: 15px 10px;
  letter-spacing: var(--letterSpacing-1);
}



summary {
  cursor: pointer;
}
summary:focus {
  outline: none;
}
summary:focus-visible {
  outline: 3px dotted #ff0060;
}
summary {
  padding: 10px;
}

details .article {
  opacity: 0;
}
details[open] .article {
  animation: fadeIn 0.75s linear forwards;
}

details summary {
  color: var(--gold-crayola);
}
summary::marker {
  color: var(--indian-yellow);
  font-size: 1.2em;
}

details summary::after {
  content: "Mehr lesen...";
}

details[open] summary::after {
  content: "Lese weniger...";
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Estilos aplicados solo a pantallas móviles */
@media (max-width: 568px) {
    .section-1 {
        display: flex;
        flex-direction: column;
    }

    .title {
      font-size: 1.3em;

    }
    .img-box {
  height: 40vh;
  overflow: hidden;
  margin-block: 1.3rem;
}
}


    </style>